---
import Layout from '../layouts/Layout.astro';
import StructuredData from '../components/StructuredData.astro';
import Hero from '../components/Hero.astro';
import FeaturePillars from '../components/FeaturePillars.astro';
import Workflow from '../components/Workflow.astro';
import Security from '../components/Security.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <StructuredData />
  <main>
    <Hero />
    <FeaturePillars />
    <Workflow />
    <Security />
    <FAQ />
  </main>
  <Footer />
</Layout>
